canvas{
  margin-top: 60px;
  border: 1px
  solid #000;
}
body{background-image: url(img/hhh.jpg);}
#buttons {
  position: absolute;
  top: 60px;
  left: 10px;
}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
#text{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
#selector {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
#selector2 {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
.drawStyleIcon{
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #000;
  text-align: center;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}

